<h1>Projects</h1>

<title>Projects</title>
<style>
    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .content-table thead {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }
    .content-table th,
    .content-table td {
        padding: 12px 15px;
    }
    .content-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .content-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .content-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }
    .content-table tbody tr.active-row {
        font-weight: bold;
        color: #009879;
    }
</style>

<table class="content-table">
    <thead>
        <tr>
            <th>Update</th>
            <th>Name</th>
            <th>Link</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    {%for project in projects%}
        <tr>
            <td><a href="update/{{project.id}}">update</a></td>
            <td>{{project.name}}</td>
            <td><a href="{{project.link}}">{{project.link}}</a></td>
            <td><a href="delete/{{project.id}}">delete</a></td>
        </tr>
    {%endfor%}
    </tbody>
</table>

<p><a href="add/">Add Projects</a></p>